&
    background #ddd
    width 100%
    height 100%
    overflow hidden
    transition all 3s ease-in-out
    .container
        width 1000px
        margin 0 auto
        margin-top -25px
        &.hidden
            height 100%
        &.hidden, &.fullscreen
            overflow hidden
        > *
            transition transform 0.5s ease-in-out
        &.fullscreen > *
            transform translateX(200%)
        section
            display block
            transition all 0.5s ease-in-out
            &#voice
                transform translateY(-1000px)
                height 500px
                &.active
                    transform none
            &#rest
                margin-top -550px
                &.hidden
                    transform translateY(1000px)

            > article
                articlestyle()
                padding 25px
                margin 0
                border-radius 2px
                margin 50px 0
                overflow hidden
                position relative
                font-size 12pt
                font-family Roboto
                color #777
                h2, h1
                    font-size 1em
                    color #181810
                h1
                    font-size 3em
                    text-align center
                    padding 0 0 10px 0
                    margin 0 0 20px 0
                    border-bottom solid 2px #639
                &.img
                    padding-right 33%
                    aside
                        articlestyle()
                        position absolute
                        top 50px
                        bottom 50px
                        right -70%
                        left 70%
                        padding 15px
                        text-align center
                        transition all 0.5s ease-in-out
                        &:not(.static):hover
                            left 50px
                            right 50px
                    img
                        height 100%
                        background black
                .important, .warning
                    display block
                    background lighten(red, 10)
                    &.warning
                        background darken(yellow, 7)
                    line-height 50px
                    overflow-x auto
                    overflow-y auto
                    color white
                    text-align left
                    text-indent 10px
                    font-size 18pt
                    font-weight 100
                    i
                        display inline-block
                        float left
                        width 50px
                        height 50px
                        margin 0
                        padding 0
                        line-height 50px
                        text-align center
                        background rgba(256, 256, 256, 0.2)
                        text-indent 0
                        &:before, &:after
                            margin 0
                            padding 0
                &#google img
                    bottom -50px
                    width 55%
                    position absolute
                    left 0
                    opacity 0.2
                &#team article
                    display inline-block
                    position relative
                    width 250px
                    overflow hidden
                    padding 0
                    height 0
                    padding-top 275px
                    margin 5px
                    box-shadow none
                    overflow hidden
                    vertical-align top
                    transition height 0.5s ease-in-out
                    figcaption, figure img
                        width 250px
                        height 250px
                        backface-visibility hidden
                        border-radius 100%
                        background #eee
                        position absolute
                        top 0
                        transition all 1s ease-in-out
                        left 0
                        margin 0
                    figcaption, figure
                        position absolute
                        top 0
                        left 0
                        margin 0px
                        padding 0
                        z-index 0
                        overflow hidden
                        border-radius 100%
                        width 250px
                        height 250px
                    figure
                        box-shadow none
                        background transparent
                        transition all 0s 1s ease-in-out
                        perspective 600
                        z-index 1
                    &.hover
                    &:hover
                        height 300px
                        figure
                            transform none
                            top -100%
                            img
                                transform translateY(-100%) rotateX(90deg)
                                opacity 0
                    figure img
                        background black

                    figcaption
                        h1
                            font-size 18pt
                            margin 30px 0 10px
                            padding 15px 0 0
                > section
                    text-align center
                    width 100%
                    height auto
                    vertical-align middle
                    figure
                        articlestyle()
                        overflow hidden
                        height 240px
                        width 240px
                        padding 5px
                        margin 5px
                        display inline-block
                        transition transform 0.2s ease-in-out
                        &:hover
                            transform scale(1.2)
                            articlestyledarken()
                        div
                            display table
                            vertical-align middle
                            width 100%
                            height 100%
                            a
                                display table-cell
                                vertical-align middle

    .flow
        position absolute
        top 0
        bottom 0
        right 0
        left 0
        overflow-y auto
        overflow-x hidden
        z-index 9

@media (max-width: 1000px)
    .container
        width 600px

@media (max-width: 600px)
    .container
        width auto
