mix(a, b, m)
    require-color a
    require-color b
    if unit(m) is '%'
        m = unit(m / 100, '')
    n = 1 - m
    return a * m +  b * n

navheight=35px
formheight=45px
formbuttonwidth=70px
articlestyle()
    box-shadow 0 0 7px rgba(0, 0, 0, 0.2)
    background white
    color #181810
articlestyledarken()
    box-shadow 0 0 5px rgba(0, 0, 0, 0.4)
